/* Universal Styles */

html {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

body {
    /*background-color: white;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dcdcdc+0,ffffff+35,ffffff+65,dcdcdc+100 */
    background: #dcdcdc; /* Old browsers */
    background: -moz-linear-gradient(left, #dcdcdc 0%, #ffffff 35%, #ffffff 65%, #dcdcdc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #dcdcdc 0%,#ffffff 35%,#ffffff 65%,#dcdcdc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #dcdcdc 0%,#ffffff 35%,#ffffff 65%,#dcdcdc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#dcdcdc',GradientType=1 ); /* IE6-9 */
}

/********* Buttons ********************************/

button {
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 12rem;
    background-color: #27c7ab;
    text-transform: uppercase;
    font-size: 1.5rem;
    border-radius: 10px 10px 10px 10px;
    padding: 15px 0 15px 0;
    border: none;
    letter-spacing: 1px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

button:hover {
    font-weight: bold;
}

.buttons {
    display: none;
}

/********** Nav *********************************/

nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    height: 5rem;
    width: 100%;
    background-color: #111;
}

nav div {
    width: 86%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed silver;
    border-radius: 5px;
}

nav ul {
    margin: auto;
    display: inline-flex;
    flex-direction: row;
}

nav li {
    margin: 8px 10px;
}

nav li a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    align-items: center;
}

nav li a:hover {
    color: white;
    font-weight: bold;
}

/********** Banner *********************/

#banner {
    height: 25rem;
    font-size: 1.2em;
    background-image: url('../img/wool2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#banner .background {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#banner .main {
    width: 80%;
    margin: 6% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner h1 {
    font-size: 3.5rem;
    letter-spacing: 0.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
}

#banner p {
    color: white;
}

/******** Post / Blog ****************/

p {
    min-width: 200px;
    /*min-height: 200px;*/
}

.blog {
    width: 86%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #cccccc;
}

.blog .post {
    margin-bottom: 5%;
    margin-top: 3%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    line-height: 1.8;
    color: #444444;
}

.post h2 {
    font-size: 1.5rem;
    color: #999999;
    letter-spacing: 5px;
}

.post h3 {
    font-size: 1.125rem;
    color: #999999;
}

.post .title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #555;
    font-family: 'Roboto', serif;
}


/********** Images ***********/

/*.post .image-container {
    width: 100%;
}*/

/*.images {
    margin: 1%;
}*/

.image-container {
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

.images .image-container {
    width: 30%;
    display: inline-block;
    margin: 1%;
}

/************* Footer ***********/

footer {
    font-size: 1.2rem;
    padding: 3rem 0;
    border-top: 1px solid #999999;
    text-align: center;
}

footer a {
    text-decoration: none;
}

footer span {
    font-family: 'Roboto', sans-serif;
    color: #999999;
}